/* лаб 2. Резниченко В.Э. 24.10.2016г
*/
body{
background-image: url("background.gif");
margin-left:10%;
margin-right:10%;
}
#container{
border:5px white solid;
background-color: white;
}
#header{
background-color: #A8F0F0;
text-align: right;
}
.date{
border-bottom-style: dashed;
border-bottom-width: 2px;
border-bottom-color: blue;
}
.entry{
border:4px #C2E9E9 solid;
border-radius: 15px;
padding: 5px;
background-color: #E8FBFB;
margin-top: 10px;
text-align: justify;
}
#header h2{
font-size: 14pt;
}
.entry img{
	float:right;
}
.spacer{
clear:right;
}